@import './base.css';

#app {
  max-width: 480px;
  min-width: 240px;
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.inline-container {
  display: flex;
  /* Use Flexbox for horizontal alignment */
  align-items: center;
  /* Center items vertically */
}

.filler {
  flex: 1;
}
